<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd     
                    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
                    
    <context:component-scan base-package="com.marketingpersonal.controller" />
    <context:component-scan base-package="com.marketingpersonal.controller.reporte" />
	<context:component-scan base-package="com.marketingpersonal.service" />
	<context:component-scan base-package="com.marketingpersonal.model.dao" />
	
	<mvc:annotation-driven />
	
	<!-- support spring annotation -->
	<context:annotation-config />
	<!-- support annotation transaction -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	

	<!-- declare datasource Sql server -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!--  Postgresql -->
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/presupuestomd" />
		<property name="username" value="postgres" />
		<property name="password" value="12345678" />
		<!--  Sql server >
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url" value="jdbc:sqlserver://192.168.10.14;databaseName=COMTIC_PRESUPUESTO;" />
		<property name="username" value="comtic" />
		<property name="password" value="P3rs0n4l-MP/comt1c" /  -->
	</bean>

	<!--Hibernate session factory configuration -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<!--  prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop -->
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.connection.pool_size">10</prop>
				<prop key="show_sql">true</prop>
				<prop key="hibernate.c3p0.min_size">5</prop> 
				<prop key="hibernate.c3p0.max_size">20</prop> 
				<prop key="hibernate.c3p0.timeout">300</prop> 
				<prop key="hibernate.c3p0.max_statements">50</prop> 
				<prop key="hibernate.c3p0.idle_test_period">3000</prop>
			</props>
		</property>
		<!-- where to find the ORM classes -->
		<property name="packagesToScan" value="com.marketingpersonal.model.entity" />
	</bean>

	<!-- Transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


</beans>