<!DOCTYPE HTML>
<html>
<head>

	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body ng-app>

	<section class="container">
		<h1>ADMIN</h1>
		
		<form name="formAdmin">
						
			<section>
				<h2>FORUM</h2>
				
				<div class="form-group">
					<label for="forumName">Name</label>
					<input type="text" id="forumName" name="forumName" class="form-control" placeholder="Name" />
				</div>
				
				<div class="form-group">
					<label for="forumDescription">Description</label>
					<input type="text" id="forumDescription" name="forumDescription" class="form-control" placeholder="Description" />
				</div>
				
				<div class="form-group">
					<label for="eventForumBegin">Begin Date</label>
					<input type="text" id="eventForumBegin" name="eventForumBegin" class="form-control" placeholder="Begin Date" />
				</div>
				
				<div class="form-group">
					<label for="eventForumEnd">End Date</label>
					<input type="text" id="eventForumEnd" name="eventForumEnd" class="form-control" placeholder="End Date" />
				</div>
				
				<section>
					<p>TODO Forum List</p>
				</section>
			</section>
			
		</form>
	</section>
</body>
</html>